### Heroes Of Pymoli Data Analysis
1. The player demographic is overwhelmingly males aged 20-24, occupying 84% of the player base. "Young Adult" Demographic
2. The 20-24 Demographic initiates the most amount of in-game purchases of all the demographics.
3. Item Name: Pursuit, Cudgel of Necromancy, occupys spot 5 on the list of most popular in-game purchases, but it is majorly underpriced compared to the other items on the list.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [29]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import pprint

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, header = 0)
#print(purchase_data.head())
print(len(purchase_data.iloc[:, 1]))

print({len(set(purchase_data.iloc[:, 1]))}.")

780
The total amount of unique players is 576.

## Player Count

* Display the total number of players

In [34]:
pd.DataFrame({ "Player Count": [len(set(purchase_data.iloc[:, 1]))]})

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
#pd.DataFrame({ "Player Count": [len(set(purchase_data.iloc[:, 1]))]})
#purchase_data.nunique(axis = 1)
purchase_data.nunique() 
unique_items = purchase_data.loc[:, "Item ID"].nunique()
#print(unique_items)
avg_price = purchase_data.loc[:, "Price"].mean()
#print(avg_price)
total_transactions = len(purchase_data.loc[:, "Purchase ID"])
#print(total_transactions)
total_revenue = purchase_data.loc[:, "Price"].sum()
#print(total_revenue)
pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_price], "Number of Purchases": [total_transactions], "Total Revenue": [total_revenue]})

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [90]:
total_males = purchase_data.loc[purchase_data["Gender"] == "Male"].loc[:,["SN"]].nunique()
#print(total_males)
total_females = purchase_data.loc[purchase_data["Gender"] == "Female"].loc[:,["SN"]].nunique()
#print(total_females)
total_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"].loc[:,["SN"]].nunique()
#print(total_other)
total_players = total_males + total_females + total_other
row_labels = [pd.Index(["Male", "Female", "Other"])]
percentages = [(total_males/total_players).item()*100, (total_females/total_players).item()*100, (total_other/total_players).item()*100]
counts = [total_males.item(), total_females.item(), total_other.item()]
pd.DataFrame({"Total Player Count": counts, "Percentage of Players": percentages }).set_index(row_labels)

        Total Player Count  Percentage of Players
Male                   484              84.027778
Female                  81              14.062500
Other                   11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [126]:
total_fem_p = len(purchase_data.loc[purchase_data["Gender"] == "Female"]) 
#print(total_fem_p)
total_mal_p = len(purchase_data.loc[purchase_data["Gender"] == "Male"]) 
#print(total_mal_p)
total_oth_p = len(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]) 
#print(total_oth_p)

mean_fem = purchase_data.loc[purchase_data["Gender"] == "Female"].mean()["Price"]
#print(mean_fem)
mean_mal = purchase_data.loc[purchase_data["Gender"] == "Male"].mean()["Price"]
#print(mean_mal)
mean_oth = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"].mean()["Price"]
#print(mean_oth)

tpv_fem = purchase_data.loc[purchase_data["Gender"] == "Female"].sum()["Price"]
#print(tpv_fem)
tpv_mal = purchase_data.loc[purchase_data["Gender"] == "Male"].sum()["Price"]
#print(tpv_mal)
tpv_oth = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"].sum()["Price"]
#print(tpv_oth)

sum_fem = purchase_data.loc[purchase_data["Gender"] == "Female"].sum()["Price"]
avg_fem = sum_fem / purchase_data.loc[purchase_data["Gender"] == "Female"]["SN"].nunique()
#print(avg_fem)
sum_mal = purchase_data.loc[purchase_data["Gender"] == "Male"].sum()["Price"]
avg_mal = sum_mal / purchase_data.loc[purchase_data["Gender"] == "Male"]["SN"].nunique()
#print(avg_mal)
sum_oth = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"].sum()["Price"]
avg_oth = sum_oth / purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()
#print(avg_oth)

r_labels = [pd.Index(["Female", "Male", "Other"])]
#pd.DataFrame({"Female": total_fem_p, "Percentage of Players": percentages }).set_index(r_labels)

pd.DataFrame({"Purchase Count": [total_fem_p, total_mal_p, total_oth_p], "Average Purchase Price": [mean_fem, mean_mal, mean_oth], "Total Purchase Value": [tpv_fem, tpv_mal, tpv_oth], "Avg Total Purchase per Person": [avg_fem, avg_mal, avg_oth]}).set_index(r_labels)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [198]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["p_analysis"] = pd.cut(purchase_data["Age"], bins, labels=ages)
unique_players = purchase_data.drop_duplicates(subset=["SN"], keep="first")
#print(unique_players.loc[:,("Age","p_analysis")][unique_players["p_analysis"] == "<10"])
#print(unique_players["p_analysis"].value_counts(sort=False))
total_players = unique_players["SN"].nunique()
print(unique_players["p_analysis"].value_counts(sort=False) / total_players*100)

<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: p_analysis, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [232]:
purchase_count = purchase_data.groupby("p_analysis")["Price"].count().sort_values(ascending=False)
avg_purchase = purchase_data.groupby("p_analysis")["Price"].mean()
tot_pvalue = purchase_data.groupby("p_analysis")["Price"].sum()

pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase, "Total Purchase Value": tot_pvalue})

            Purchase Count  Average Purchase Price  Total Purchase Value
p_analysis
10-14                   28                2.956429                 82.78
15-19                  136                3.035956                412.89
20-24                  365                3.052219               1114.06
25-29                  101                2.900990                293.00
30-34                   73                2.931507                214.00
35-39                   41                3.601707                147.67
40+                     13                2.941538                 38.24
<10                     23                3.353478                 77.13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [262]:
p_by_player = purchase_data.loc[:,("SN","Price")].groupby("SN")
top_pvalue = p_by_player.sum()
top_pvalue.rename(columns={"Price" : "Total Purchase"}, inplace=True)
top_avgpvalue = p_by_player.mean()
top_avgpvalue.rename(columns={"Price" : "Avgerage Purchase Price"}, inplace=True)
top_count = p_by_player.count()
top_count.rename(columns={"Price" : "Purchase Count"}, inplace=True)

top_pvalue.join(top_avgpvalue).join(top_count).sort_values(by=["Total Purchase"],ascending=False).head()

#pd.DataFrame({"Purchse Count": top_count, "Average Purchase Price": top_avgpvalue, "Total Purchase Price": top_pvalue})

             Total Purchase  Avgerage Purchase Price  Purchase Count
SN
Lisosia93             18.96                 3.792000               5
Idastidru52           15.45                 3.862500               4
Chamjask73            13.83                 4.610000               3
Iral74                13.62                 3.405000               4
Iskadarya95           13.10                 4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [305]:
p_by_item = purchase_data.loc[:,("Item ID","Price", "Item Name")].groupby("Item ID")
top_p_item = p_by_item.sum()
top_p_item.rename(columns={"Price" : "Total Purchase"}, inplace=True)
top_avg_item = p_by_item.mean()
top_avg_item.rename(columns={"Price" : "Avgerage Purchase Price"}, inplace=True)
top_count = p_by_item["Price"].count()
top_count.name = "Purchase Count"
item_names = purchase_data.loc[:,("Item ID", "Item Name")].set_index("Item ID").drop_duplicates()

top_p_item.join(top_avg_item).join(top_count).join(item_names).sort_values(by=["Purchase Count"],ascending=False).head()

,Total Purchase,Avgerage Purchase Price,Purchase Count,Item Name
Item ID,,,,
178,50.76,4.23,12,"Oathbreaker, Last Hope of the Breaking Storm"
145,41.22,4.58,9,Fiery Glass Crusader
108,31.77,3.53,9,"Extraction, Quickblade Of Trembling Hands"
82,44.10,4.90,9,Nirvana
19,8.16,1.02,8,"Pursuit, Cudgel of Necromancy"

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [298]:
p_by_item = purchase_data.loc[:,("Item ID","Price", "Item Name")].groupby("Item ID")
top_p_item = p_by_item.sum()
top_p_item.rename(columns={"Price" : "Total Purchase"}, inplace=True)
top_avg_item = p_by_item.mean()
top_avg_item.rename(columns={"Price" : "Avgerage Purchase Price"}, inplace=True)
top_count = p_by_item["Price"].count()
top_count.name = "Purchase Count"
item_names = purchase_data.loc[:,("Item ID", "Item Name")].set_index("Item ID").drop_duplicates()

top_p_item.join(top_avg_item).join(top_count).join(item_names).sort_values(by=["Total Purchase"],ascending=False).head()

,Total Purchase,Avgerage Purchase Price,Purchase Count,Item Name
Item ID,,,,
178,50.76,4.23,12,"Oathbreaker, Last Hope of the Breaking Storm"
82,44.10,4.90,9,Nirvana
145,41.22,4.58,9,Fiery Glass Crusader
92,39.04,4.88,8,Final Critic
103,34.80,4.35,8,Singed Scalpel